.nav-link {
	font-family: 'Sirin Stencil', cursive;
	color: rgb(1, 8, 17) !important;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Sirin Stencil', cursive;
}

.navbar {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background-color: rgba(236, 28, 56, 0.788) !important;
	padding: 20px 0px;
}

.nav-link:hover {
	font-size: 1rem;
	border-radius: 15px;
	background-color: rgba(199, 209, 219, 0.692);
}

.smoke {
	height: 100% !important;
	background-repeat: repeat-x;
}

.Rel {
	/* margin-top: -60%; */
	/* margin-left: 25%; */
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 200px;
	transform: translate(90%, -50%);

	border-radius: 50%;
}

.heading-content {
	position: absolute;
	top: 22%;
	width: 100%;
	max-width: 100%;
	color: rgb(255, 0, 0);
}

.heading-content h5 {
	font-size: 3em;
	color: aliceblue;
}

.heading-content h1 {
	font-size: 4em;
}

.heading-content p {
	font-weight: lighter;
	word-spacing: 5px;
	color: azure;
	font-size: 2em;
	margin: auto;
}

.background {
	z-index: -1;
}

.btn {
	color: black;
	background-color: red;
	border-radius: 12px;
}

.btn:hover {
	border-color: rgb(10, 1, 1);
	background-color: rgba(255, 0, 0, 0.39);
	color: red;
}

.getInTouch {
	height: 43px;
	width: 46px;
	margin: 8px;
	float: left;
	border-radius: 50%;
	background-color: rgba(219, 14, 14, 0.87);
}

.getInTouch:hover {
	background-color: blue;
}

.line {
	color: rgb(24, 2, 2 227);
}

@media only screen and (max-width: 404px) {
	.myName {
		color: rgb(235, 5, 5) !important;
		font-size: 30px !important;
		height: 20px;
		margin-top: -3%;
	}

	.nav-link:hover {
		font-size: 1rem;
		border-radius: 15px;
		background-color: rgba(199, 209, 219, 0.692);
	}

	.title {
		display: none !important;
		color: rgb(17, 123, 216);
	}
	.hello {
		margin-top: -5%;
		font-size: 3em;
	}

	.navbar {
		height: 60px;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: 0.2rem;
		background-color: rgba(236, 28, 56, 0.788) !important;
		padding: 20px 0px;
	}

	.nav-link {
		font-family: 'Sirin Stencil', cursive;
		color: rgb(2, 92, 25) !important;
		font-weight: bolder;
	}
}
